@import "colors";

#codePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $light-color;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  padding: 20px;
  z-index: 2;
  text-align: initial;
  width: 600px;
  max-height: 80vh;
  overflow: auto;
  border: 2px solid $darkprimary-color;
  border-radius: 20px;
  box-shadow: 0 0 11px 11px rgba(0, 0, 0, 0.5);
}

#codePopup pre {
  overflow-x: auto;
  margin-bottom: 0;
}

#codePopup button.close-button {
  position: absolute; /* Torna o botão position:absolute para posicionamento personalizado */
  top: 16px; /* Ajusta a posição vertical */
  right: 16px; /* Ajusta a posição horizontal */
  background-color: transparent; /* Remove o fundo */
  color: #ccc; /* Cor do ícone "X" */
  border: none; /* Remove a borda */
  font-size: 18px; /* Ajusta o tamanho da fonte */
  cursor: pointer; /* Adiciona um cursor ao botão */
  padding: 5px 0px;
  line-height: 1; /* Define a altura da linha para 1 */
}

#codePopup button.toggle-button {
  position: absolute; /* Torna o botão position:absolute para posicionamento personalizado */
  top: 16px; /* Ajusta a posição vertical */
  right: 16px; /* Ajusta a posição horizontal */
  background-color: $light-color; /* Remove o fundo */
  color: $primary-color; /* Cor do ícone "X" */
  border: 1px solid $primary-color; /* Remove a borda */
  font-size: 14px; /* Ajusta o tamanho da fonte */
  cursor: pointer; /* Adiciona um cursor ao botão */
  padding: 5px 10px;
  line-height: 1; /* Define a altura da linha para 1 */
  margin-right: 20px;
  border-radius: 8px;
}
