// _colors.scss

// Defina suas cores aqui
$primary-color: #164863;
$secondary-color: #427d9d;
$third-color: #9bbec8;
$fourth-color: #ddf2fd;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$darkprimary-color: #0c2836;
