@import "colors";

#about {
  .about-container {
    background-color: $primary-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    position: relative; /* Adicionando position relative para uso do position absolute no ícone */
  }

  .section-title {
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    margin: 50px 0 20px 0;
    color: $third-color;
    position: relative;
    border-bottom: 3px groove $light-color;
    border-radius: 8px;
  }

  .intro-text {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 90px;
    max-width: 800px;
    color: $light-color;
  }

  .about-content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .left-column {
    flex: 1;
    text-align: center;
  }

  .my-photo {
    width: 100%;
    max-width: 300px;
    border-radius: 16px;
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.5);
  }

  .right-column {
    flex: 2;
    padding-left: 20px;

    ul {
      list-style-type: circle;
      font-weight: 300;
      text-indent: 20px;
      font-size: 1.4rem;

      li {
        color: $light-color;
        margin-bottom: 30px;
      }
    }
  }

  .code-icon-container {
    position: absolute; /* Mantendo position absolute aqui */
    bottom: 20px; /* Ajustando a posição do ícone */
    right: 20px; /* Ajustando a posição do ícone */
    color: $light-color; /* Cor do ícone */
    font-size: 2em; /* Tamanho do ícone */
    cursor: pointer; /* Adicionando cursor pointer para indicar que é clicável */
    z-index: 1; /* Ajustando z-index conforme necessário */
  }
}
