@import "colors";

.hero {
  background-color: $darkprimary-color; /* Define a cor de fundo da hero section */
  color: $light-color; /* Define a cor do texto */
  height: 100vh; /* Adiciona espaçamento interno */
  text-align: center; /* Centraliza o texto */
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-content {
    margin: 0 auto;
    display: flex;
    align-items: center;

    .hero-text {
      flex: 1; /* Ocupa o espaço disponível */
      margin: 0 auto;

      .text-content {
        h2 {
          font-weight: 400;
          font-size: 32px; /* Define o tamanho da fonte do h2 */
          color: $light-color; /* Define a cor do h2 como branco */
          margin: 0; /* Remove as margens */
        }

        h1 {
          font-size: 64px; /* Define o tamanho da fonte do h1 */
          color: $secondary-color; /* Define a cor do h1 como secundária */
          margin: 10px 0; /* Reduz o espaçamento entre o h2 e o h1 */
          overflow: hidden;
          white-space: nowrap;
          border-right: 0.15em solid $success-color;
          animation:
            typing 3s steps(40, end) forwards,
            blink-caret 0.75s step-end 3s forwards;
          transition: opacity 0.5s ease-in-out;
        }
      }

      p {
        font-size: 1.2rem;
        margin: 5px 0 0;
      }
    }

    .hero-image-container {
      flex: 1;
    }

    .hero-image {
      width: 100%;
      max-width: 600px;
    }

    .hero-icons {
      display: flex;
      margin-top: 8px;
      justify-content: center;
      gap: 15px;
    }
  }
  .scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 12px solid $light-color;
      animation: arrow-bounce 1s infinite;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $success-color;
  }
}

@keyframes arrow-bounce {
  0%,
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
