.language-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Garante que o modal esteja na frente de outros elementos */
  padding: 20px;
  border-radius: 10px;
  background-color: white; /* Fundo sólido */
}

.modal-content {
  text-align: center;
}

.flags img {
  width: 140px; /* Tamanho das bandeiras */
  margin: 0 10px; /* Espaçamento entre as bandeiras */
  cursor: pointer;
}

h2 {
  color: black; /* Cor do texto */
}
